.App {
  display: flex;
  flex-direction: row;
  text-align: center;
  height: 100vh;

}

.menu {
  text-align: center;
  flex-direction: row;
  background-color: #e8e8e8;
  flex: 1;
  border-right: #81b3ff solid 2px;
}

.contenido {
  flex: 4;  
  padding: 30px;

}
.default {
  background-color: deepskyblue;
}

.buttonLogin {
  margin-top: 10px;
  border-radius: 30px;
  width: 10%;
  background-color: rgb(0, 140, 255);
  height: 40px;
  border: 2px black solid;
}


